$colors: (
  red: #d63030,
  orange: #f2711c,
  yellow: #fbbd08,
  olive: #b5cc18,
  green: #21ba45,
  teal: #00b5ad,
  blue: #2185d0,
  violet: #6435c9,
  purple: #a333c8,
  pink: #e03997,
);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo", sans-serif;
}

.colors {
  padding-top: 25px;
  text-align: center;
  input[type="radio"] {
    display: none;
    &:checked + label {
      span {
        transform: scale(1.25);
      }
      @each $name, $value in $colors {
        .#{$name} {
          border: 2px solid darken($value, 25%);
        }
      } // !@each
    } // !&:checked + label
  }

  label {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    cursor: pointer;
    &:hover {
      span {
        transform: scale(1.25);
      }
    }
    span {
      display: block;
      width: 100%;
      height: 100%;
      transition: transform 0.2s ease-in-out;
      @each $name, $value in $colors {
        &.#{$name} {
          background: $value;
        }
      }
    }
  }
}

html,
body {
  height: 100vh;
  width: 100%;
  background: #efefef;
}
#main-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.note-container {
  display: flex;
  margin-right: 40px;
  flex-direction: column;
  width: 80%;
  .head-read-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #efefef;
    text-align: center;
    .close {
      cursor: pointer;
      font-size: 20px;
      font-weight: bold;
      color: red;
    }
  }
  #new-note-title {
    height: 35px;
    margin: 32px 0 24px 0;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid #333;
  }
  #new-note-content {
    padding: 10px 5px;
    border-radius: 5px;
    border: 1px solid #333;
  }
}
h1 {
  margin-top: 32px;
}
#side-bar {
  background: #333;
  width: 20%;
  height: 100vh;
  margin-right: 30px;
  overflow: scroll;
}
.search-bar {
  margin-top: 32px;
  margin-bottom: 32px;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid #333;
  input {
    width: 90%;
    height: 35px;
    margin: auto;
    border-radius: 5px;
    border: 1px solid #333;
    text-align: center;
  }
}
.stored-notes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  color: #efefef;
  border: 1px solid #777;
  padding: 15px 10px;
  h2 {
    font-size: 20px;
  }
  .delete-note {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 0, 0);
    &:hover {
      background: #efefef;
    }
  }
}
#create-a-note {
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  padding: 20px 5px;
  background: rgba(45, 255, 255, 0.2);
}
button {
  cursor: pointer;
  width: 100%;
  height: 50px;
  display: block;
  margin-top: 24px;
  border-radius: 5px;
  background: teal;
  color: #fff;
  font-size: 18px;
}
